// $color_bg:#fcfbe1;
$color_bg:#fbd8b0;
// $color_card:#b7c262;
$color_card:#e7b375;
$color_white:#f8f8f4;
$color_green:#7c8e4e;
$my_grey :lighten(#9b9c9d, 10%);
// $my_green :lighten(#2ec7bf, 30%);
$my_green :lighten(#f74b2b, 20%);