// @import './normalize.scss';
$my_grey :#9b9c9d;
$my_green :lighten(#2ec7bf, 30%);
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }
    body {
        margin: 0;
        padding: 0;
        position: relative;
        background-color: #D1D7DC;
        .wrapper {
            width: 60%;
            max-width: 800px;
            margin: 0 auto;
            .input-container {
                .book-selector {
                    // display: flex;
                    // input {
                    //     // display:   
                    //     // padding-right: 8px; // display: block;
                    // }
                }
            }
            .result {
                position: relative;
                .result-container {
                    list-style-type: none;
                    padding: 0;
                    .name-box {
                        margin: 1rem 0;
                        padding: 2rem 1rem;
                        background-color: $my_grey;
                        font-size: 1rem;
                        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .05), 0 1px 4px 0 rgba(0, 0, 0, .08), 0 3px 1px -2px rgba(0, 0, 0, .2);
                        border-radius: 2px;
                        >h3 {
                            font-size: 3rem;
                            color: #fff;
                            text-align: center;
                        }
                        .sentence {
                            color: #fff;
                            line-height: 1.5rem;
                            span {
                                color: $my_green;
                            }
                        }
                        .book {
                            color: $my_green;
                            display: inline-block;
                            text-align: left;
                        }
                        .author {
                            color: $my_green;
                            display: inline-block;
                        }
                        i {
                            color: $my_green;
                            font-style: normal;
                        } // position: absolute;
                    }
                }
            }
        }
        .loader {
            z-index: 100;
            left: 0;
            top: 0;
            min-height: 100vh;
            position: absolute; // opacity: 0.5;
            width: 100%; // height: 100%; // height: 300px;
            // background-color: #fff;
            background-color: rgba(0, 0, 0, .05);
            svg {
                width: 100px;
                height: 100px; // margin: 20px;
                display: block;
                margin: 20px auto;
                margin-top: 40vh;
            }
        }
    }
}